STOCK_API_URL=https://127.0.0.1
STOCK_API_PASSWORD=your_stock_web_admin_password
TELEGRAM_BOT_TOKEN=your_bot_token

# 允许访问 Telegram Bot 的管理员 ID，多个 ID 用逗号分隔
# 这个是为了适配 docker 启动时环境变量传递的限制，避免权限过大所做的限制，建议只填入管理员的 Telegram ID，其他用户无法访问 Telegram Bot 的功能。
# 目前仅支持 docker 大盘复盘
# TODO：增加本地部署直接执行 python 命令
TELEGRAM_ADMIN_IDS=your_admin_ids1,your_admin_ids2
